//Colors
$white     : #ffffff;
$blue      : #2E86FF;
$blue2     : #349EFF;
$dark_blue : #001531;
$light_blue: #E6EEF3;
$red       : #FF0000;

//Breakpoints
$d1: 1599px;
$d2: 1279px;
$d3: 1024px;
$t : 768px;
$m1: 599px;
$m2: 425px;
$m3: 320px;