@import '../../../app/styles/variables';

.Input {
  display       : flex;
  flex-direction: column;

  &__field {
    margin-top      : 8px;
    padding         : 10px 15px;
    border          : none;
    background-color: $light_blue;
    border-radius   : 6px;

    &:focus {
      outline: 1px solid $blue;
    }
  }
}