@import '../../app/styles/variables';

.ContactsList {
  margin-top      : 30px;
  padding         : 0 20px;
  height          : 100%;
  background-color: $white;
  border-radius   : 15px;
  box-shadow      : inset 0 0 8px 0 rgba(0, 0, 0, 0.1);
  position        : relative;
  overflow        : hidden;

  &__wrapper {
    box-sizing    : border-box;
    padding       : 20px 0;
    height        : 100%;
    display       : flex;
    flex-direction: column;
    gap           : 15px;
    overflow-y    : scroll;

    &_no-scroll {
      overflow: hidden;
    }

    //Hide scrollbar
    &::-webkit-scrollbar {
      display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width   : none;
  }

  &__search {
    padding      : 10px 20px;
    border       : none;
    border-radius: 5px;
    box-shadow   : inset 0 0 8px 0 rgba(0, 0, 0, 0.1);
    transition   : all 0.3s ease;

    &:focus {
      outline   : none;
      box-shadow: inset 0 0 8px 0 transparentize($blue2, 0.8);
    }
  }

  &__new {
    padding        : 10px 15px;
    display        : flex;
    align-items    : center;
    justify-content: center;

    .ContactsList__add-button {
      width          : 60px;
      height         : 60px;
      background     : url('../../assets/img/add.svg') no-repeat 50% 50%;
      background-size: cover;
      cursor         : pointer;
      transition     : all 0.3s ease;

      &:hover {
        transform: scale(1.1);
      }

      &:active {
        transform: scale(1);
      }
    }
  }

  &__editor-wrapper {
    width   : 100%;
    height  : 100%;
    position: absolute;
    top     : 0;
    left    : 0;
  }
}