@import '/src/app/styles/variables';

.AuthForm {
  width           : 100%;
  padding         : 20px;
  background-color: $white;
  border-radius   : 15px;

  @media screen and (max-width: $m1) {
    height       : 100%;
    border-radius: 0;
  }

  &__title {
    font-size  : 50px;
    font-weight: 600;
  }

  &__wrapper {
    margin-top    : 40px;
    display       : flex;
    flex-direction: column;
    gap           : 25px;
  }

  &__button-wrapper {
    margin-top: 30px;
  }

  &__error {
    display   : inline-block;
    margin-top: 10px;
    font-size : 14px;
    color     : $red;
  }
}